Button {
	margin-top: 8px; 
	margin-right: 4px; 
	margin-bottom: 8px; 
	margin-left: 0; 
	width: 13%; 
	height: 35px; 
	-unity-text-align: middle-center; 
	border-left-color: rgb(100, 100, 100); 
	border-right-color: rgb(100, 100, 100); 
	border-top-color: rgb(100, 100, 100); 
	border-bottom-color: rgb(100, 100, 100); 
	color: rgb(0, 0, 0);
}