VisualElement {
	flex-grow: 1;
	height: auto;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	width: auto;
	position: relative;
	padding-top: 6px;
	padding-right: 6px;
	padding-bottom: 6px;
	padding-left: 6px; 
	top: 0;
}